<%= form_for(@patient, remote: true) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel callout radius">
    <div>
      <%= f.label :firstname %>
      <%= f.text_field :firstname %>
    </div>
    <div>
      <%= f.label :lastname %>
      <%= f.text_field :lastname %>
    </div>
    <div>
      <%= f.label :number %>
      <%= f.text_field :number %>
    </div>
    <div id="divFacility">
      <%= f.label :facility %>
      <%#= f.text_field :facility %>
      <%= f.select(:facility, grouped_options_for_select(@grouped_options2), prompt: 'Choose Facility') %>
    </div>
    <div>
      <%= f.label :ward %>
      <%#= f.text_field :ward %>
      <%= f.select(:ward, grouped_options_for_select(@grouped_options), prompt: 'Choose Ward') %>
    </div>
    <div>
      <%= f.label :doa %>
      <%= f.date_field :doa %>
    </div>
    <div>
      <%= f.label :dob %>
      <%= f.date_field :dob %>
    </div>
    <div>
      <%= f.label :dod %>
      <%= f.date_field :dod %>
    </div>
    <div>
      <%= f.label :updated_by %>
      <%= f.text_field :updated_by %>
    </div>
  </div> 

  <div class="row">
    <div class="small-6 columns">
      <%= f.submit(class: 'button tiny radius') %>
    </div>
    <div class="small-6 columns">
      <%= link_to("Cancel", "#", id: "bCancel", class: "button tiny radius") %>
    </div>       
  </div>
<% end %>
