<div class="row">
  <div class="large-3 large-centered columns alignCenterNoPadding">
    <h3>Patient List (Pilgrim)</h3>
  </div>
</div>
 <div class="row">  
    <div class="large-9 columns">
      <div class="panel radius">
        <div class="panel callout radius">
           <%= search_form_for @q, id: 'fPatient_filter', remote: true do |f| %>
              <div class="row collapse">
                <div class="hide" >
                  <div class="small-2 columns">
                      <%= f.submit class: 'button tiny radius' %>           
                    </div>
                </div>

                <div class="small-12 columns">
                  <div class="row collapse">
                      <div class="small-1 columns">
                        <%= f.label(:firstname_start, 'First:', class: "right inline")  %>  
                      </div>
                      <div class="small-2 left columns">
                            <%= f.search_field :firstname_start %>
                      </div>
                      
                      <div class="small-1 columns">
                        <%= f.label(:lastname_start, "Last:", class: " right inline")  %>
                      </div>
                      <div class="small-2 left columns">
                        <%= f.search_field :lastname_start %>
                      </div>

                      <div class="small-1 columns">
                        <%= f.label(:number_start, "C #:", class: " right inline", title: "C Number")  %>
                      </div>
                      <div class="small-2 left columns">
                        <%= f.search_field :number_start %>
                      </div>

                      
                  </div>
                  <div class="row collapse">
                    <div class="small-1 columns">
                      <%= f.label(:ward_eq, "Ward", class: "right inline")  %>
                    </div>
                    <div class="small-2 left columns">
                      <%#= f.search_field :ward_cont %>
                      <%= f.select(:ward_eq, grouped_options_for_select(@grouped_options), prompt: 'Choose...') %>
                    </div>

                    <div class="small-2 column">
                      <%= f.label(:doa_gteq, "DOA after:", class: "right inline", title: "DOA between")  %>
                    </div>
                    <div class="small-3 left columns">
                      <%= f.date_field :doa_gteq %>
                      <%#= f.date_select :doa_cont %>
                      <%#= f.search_field :doa_gteq%>
                    </div>
                    <div class="small-1 column ">
                      <%= f.label :doa_lteq, "before:", class: "right inline" %>
                    </div>
                    <div class="small-3 left columns">
                      <%= f.date_field :doa_lteq %>
                      <%#= f.search_field :doa_lteq %> 
                    </div>         
                  </div>
                </div>
                    

                    
              </div>

            <% end %>
        </div>
        <div id="divTable">
          <%= render('table') %>
        </div>
      </div>
    </div>
   
    <div class="large-3 columns">
      <div class="panel radius">
        <!-- <div class="panel callout radius"> -->
          <div class="large-centered">
              <%= link_to 'New Pat', new_patient_path, class: "button tiny radius", id: 'bNew', remote: true%>
          </div>
          <div id="divForm">
            <%#= render('form') %> 
          </div>
        <!-- </div> -->
      </div>
    </div>
  

  
  
</div>

















